<include file="Public/headcss"/>
<body class="no-skin">
<include file="Public/header"/>
<style>


    .dhx_spread_window .checkbox {
        display: inline;
        font-size: 11px;

    }

    .spread_config_cont {
        font-family: "Tahoma";
        font-size: 11px;
        font-weight: normal;
        line-height: 14px;
        padding: 8px;
    }

    .spread_config.spread_config_button {

        display: inline-block;
    }
</style>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <div class="row">


                    <div class="col-xs-6" id="parentxx">

                        <div class="widget-main" id="parentdiv">

                        </div>
                    </div>

                    <div style="min-height: 208.667px;" class="col-xs-6 widget-container-col ui-sortable"
                         id="widget-container-col-2">
                        <div style="opacity: 1;" class="widget-box ui-sortable-handle" id="widget-box-2">
                            <div class="widget-header">
                                <h5 class="widget-title">雨量站点降水过程线</h5>

                                <div class="widget-toolbar">
                                    <a href="#modal-form" data-toggle="modal" onclick="undateselect">
                                        <i class="ace-icon fa fa-bars"></i>
                                    </a>

                                    <a href="#" data-action="collapse">
                                        <i class="ace-icon fa fa-chevron-up"></i>
                                    </a>

                                    <a href="#" data-action="close">
                                        <i class="ace-icon fa fa-times"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <div id="mychart1" style="width: 100%;;height:200px"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="min-height: 208.667px;" class="col-xs-6 widget-container-col ui-sortable"
                         id="widget-container-col-3">
                        <div style="opacity: 1;" class="widget-box ui-sortable-handle" id="widget-box-3">
                            <div class="widget-header">
                                <h5 class="widget-title">洪水过程线</h5>

                                <div class="widget-toolbar">
                                    <a href="#modal-form2" data-toggle="modal" onclick="undateselect">
                                        <i class="ace-icon fa fa-bars"></i>
                                    </a>

                                    <a href="#" data-action="collapse">
                                        <i class="ace-icon fa fa-chevron-up"></i>
                                    </a>

                                    <a href="#" data-action="close">
                                        <i class="ace-icon fa fa-times"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <div id="mychart2" style="width: 100%;height:200px"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div id="modal-form" class="modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="blue bigger">请选择需要展示的站点</h4>
                            </div>

                            <div class="modal-body">
                                <div class="row">


                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right">图形选择：</label>
                                        <div class="col-xs-12 col-sm-12">
                                            <div>
                                                <label class="line-height-1 blue">
                                                    <input name="pcp_type" value="1" type="radio"
                                                           class="ace" checked/>
                                                    <span class="lbl"> 折线图</span>
                                                </label> <label class="line-height-1 blue">
                                                <input name="pcp_type" value="2" type="radio"
                                                       class="ace"/>
                                                <span class="lbl"> 散点图</span>
                                            </label>
                                            </div>


                                            <div class="hr hr-8 hr-dotted"></div>
                                        </div>
                                    </div>


                                    <div class="form-group">

                                        <label class="control-label col-xs-12 col-sm-12 no-padding-right">站点选择：</label>
                                        <div class="col-sm-12">
                                            <select multiple="multiple" size="10" name="pcps[]"
                                                    id="pcps">
                                                <volist name="pcps" id="vo">

                                                    <option value='{$vo.id}'>{$vo.name}</option>
                                                </volist>
                                            </select>


                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="modal-footer">

                                <button id="button_pcp" class="btn btn-sm btn-primary" data-dismiss="modal">
                                    <i class="ace-icon fa fa-check"></i>
                                    确定
                                </button>
                            </div>
                        </div>
                    </div>
                </div><!-- PAGE CONTENT ENDS -->

                <div id="modal-form2" class="modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="blue bigger">请选择需要展示的站点</h4>
                            </div>

                            <div class="modal-body">
                                <div class="row">


                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right">图形选择：</label>
                                        <div class="col-xs-12 col-sm-12">
                                            <div>
                                                <label class="line-height-1 blue">
                                                    <input name="s2_type" value="1" type="radio"
                                                           class="ace" checked/>
                                                    <span class="lbl"> 折线图</span>
                                                </label> <label class="line-height-1 blue">
                                                <input name="s2_type" value="2" type="radio"
                                                       class="ace"/>
                                                <span class="lbl"> 散点图</span>
                                            </label>
                                            </div>


                                            <div class="hr hr-8 hr-dotted"></div>
                                        </div>
                                    </div>


                                    <div class="form-group">

                                        <label class="control-label col-xs-12 col-sm-12 no-padding-right">站点选择：</label>
                                        <div class="col-sm-12">
                                            <select multiple="multiple" size="10" name="flows[]"
                                                    id="flows">
                                                <volist name="flows" id="vo">

                                                    <option value='{$vo.id}'>{$vo.name}</option>
                                                </volist>
                                            </select>


                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="modal-footer">

                                <button id="button_flow" class="btn btn-sm btn-primary" data-dismiss="modal">
                                    <i class="ace-icon fa fa-check"></i>
                                    确定
                                </button>
                            </div>
                        </div>
                    </div>
                </div><!-- PAGE CONTENT ENDS -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs_scen"/>
<!-- inline scripts related to this page -->
<script src="__PUBLIC__/qwadmin/js/echarts.min.js"></script>
<script src="__PUBLIC__/qwadmin/js/zdj/zdj-echart3.js"></script>
<script src="__PUBLIC__/qwadmin/js/jquery.gritter.js"></script>
<script src="__PUBLIC__/qwadmin/js/jquery.bootstrap-duallistbox.min.js"></script>

<script src="__PUBLIC__/qwadmin/js/jquery.gritter.js"></script>
<script type="text/javascript">


    //情景ID或预测ID
    var selectid = {$s3};


    function undateselect() {
        $("#pcps").trigger("chosen:updated");
        $("#flows").trigger("chosen:updated");

    }

    function retrievepcp() {
        id = selectid;
        var s1type = $('input:radio[name="pcp_type"]:checked').val();
        var pcpguages = $('#pcps').val();
        reloadpcpChartf(id, pcpguages, s1type);
    }

    function retrieveflow() {
        id = selectid;
        var s2type = $('input:radio[name="s2_type"]:checked').val();
        var flowguages = $('#flows').val();
        reloadflowChartf(id, flowguages, s2type);
    }


    function retrieve(id) {
        selectid = id;
        var s1type = $('input:radio[name="pcp_type"]:checked').val();
        var s2type = $('input:radio[name="s2_type"]:checked').val();
        var pcpguages = $('#pcps').val();
        var flowguages = $('#flows').val();
        reloadpcpChartf(id, pcpguages, s1type);
        reloadflowChartf(id, flowguages, s2type);
    }
    function forcast() {

        $.extend($.gritter.options, {
            position: 'bottom-right' // possibilities: bottom-left, bottom-right, top-left, top-right
            /*            fade_in_speed: 100, // how fast notifications fade in (string or int)
             fade_out_speed: 100, // how fast the notices fade out
             time: 3000 // hang on the screen for... */
        });
        $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: '开始执行!',
            // (string | mandatory) the text inside the notification
            text: '由于涉及模型输入的修改、模型运行、结果提取等过程，本功能可能需要数分钟！',
            class_name: 'gritter-success',
            position: 'bottom-right'
        });

        var sid = "#spinerxx" ;
        $(sid).css("visibility", "visible");

        var sheetid = $("#sheetid").val();
        var jqxhr = $.getJSON("/wms/qwadmin/HMS/runforcast", "sheetid=" + sheetid, function (data) {
            selectid = sheetid;
            retrieve(selectid);
            $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: '执行完成!',
                // (string | mandatory) the text inside the notification
                text: '您可以洪水过程图中，查看预报结果！',
                class_name: 'gritter-success',
                position: 'bottom-right'
            });

            var sid = "#spinerxx";
            $(sid).css("visibility", "hidden");
        });


    }


    jQuery(function ($) {
        var gheight2 = $(window).height() - 190;
        var gheight = $(window).height() - 340;
        var width = $("#widget-container-col-1").width() - 20;
        $("#parentdiv").load("/dhtmlx/index.php?width=" + width + "&height=" + gheight2, function () {

            setTimeout(function () {
                $(".dhx_toolbar_base_18_dhx_skyblue").css("width", "99.5%");
                console.log("here");
            }, 3500);


        });


        $("#mychart1").css("height", parseInt(gheight / 2 + 25));
        $("#mychart2").css("height", parseInt(gheight / 2 + 25));

        // console.log("http://localhost/dhtmlx/index.php?width="+100+"&height="+100);
        var demo1 = $('select[name="pcps[]"]').bootstrapDualListbox({
            infoText: '<span class="label label-purple label-lg">显示全部{0}项</span>',
            selectorMinimalHeight: "180",
            infoTextFiltered: '<span class="label label-purple label-lg">符合过滤条件{0}项</span>',
            filterTextClear: "显示全部",
            filterPlaceHolder: "支持模糊过滤",
            infoTextEmpty: '<span class="label label-purple label-lg">列表为空</span>'
        });
        var container1 = demo1.bootstrapDualListbox('getContainer');
        container1.find('.btn').addClass('btn-white btn-info btn-bold');

        var demo2 = $('select[name="flows[]"]').bootstrapDualListbox({
            infoText: '<span class="label label-purple label-lg">显示全部{0}项</span>',
            selectorMinimalHeight: "180",
            infoTextFiltered: '<span class="label label-purple label-lg">符合过滤条件{0}项</span>',
            filterTextClear: "显示全部",
            filterPlaceHolder: "支持模糊过滤",
            infoTextEmpty: '<span class="label label-purple label-lg">列表为空</span>'
        });
        var container2 = demo2.bootstrapDualListbox('getContainer');
        container2.find('.btn').addClass('btn-white btn-info btn-bold');

        $('select[name="*duallistbox_demo1[]*"]').css("height", "200px");

        $("#button_pcp").on("click", retrievepcp);

        $("#button_flow").on("click", retrieveflow);

        $("#pcps").val({$s1});
        $("#pcps").trigger("chosen:updated");

        $("#flows").val({$s2});
        $("#flows").trigger("chosen:updated");

        demo1.bootstrapDualListbox('refresh', true);

        demo2.bootstrapDualListbox('refresh', true);

        retrieve({$s3});

    });


</script>

</body>
</html>
